<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Lights</string>
			<key>FooterText</key>
			<string>Automatically keep your OW+ lights on from 5p-8a, off otherwise.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AutoLights</string>
			<key>Key</key>
			<string>ow_auto_lights</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Audio Alerts Volume</string>
			<key>FooterText</key>
			<string>Adjusts audio alerts volume relative to the system volume. Drag this slider leftward to play alerts softer than music, for example</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>FooterText</key>
			<string>Header</string>
			<key>Key</key>
			<string>ow_alerts_volume</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Audio Alerts Tweaks</string>
			<key>FooterText</key>
			<string>Ducking other audio adds a short delay to alert playback, but works well with music. The &quot;Rider Off&quot; alert sounds ~500ms before board shutoff, but other alerts aren&apos;t time critical.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Require Headphones</string>
			<key>Key</key>
			<string>ow_alerts_requires_headphones</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Duck Other Audio</string>
			<key>Key</key>
			<string>ow_alerts_duck_audio</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Audio Alerts</string>
			<key>FooterText</key>
			<string>Reports when board connection is made (&quot;Connected&quot;), lost (&quot;Reconnecting&quot;), or disconnected (&quot;Disconnected&quot;).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Board Connection Alerts</string>
			<key>Key</key>
			<string>ow_alerts_connection</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Reports ride mileage on a 0.5 mile interval (&quot;2.5 ride miles&quot;).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Mileage Alerts</string>
			<key>Key</key>
			<string>ow_alerts_mileage</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Reports battery level, as a percentage, every 5% (&quot;Battery 50&quot;).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Battery Alerts</string>
			<key>Key</key>
			<string>ow_alerts_battery</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Reports when speed passes certain benchmarks, starting at 12mph (&quot;Speed 12&quot;).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Speed Alerts</string>
			<key>Key</key>
			<string>ow_alerts_speed</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Reports when Heel (&quot;Heel Off&quot;) or Toe (&quot;Toe Off&quot;) foot sensors detect no pressure for 1.5 seconds, or as soon as both sensors detect no pressure (&quot;Rider Off&quot;). Board shutoff seems to occur ~500ms after a &quot;Rider Off&quot; alert.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Foot Sensor Alerts</string>
			<key>Key</key>
			<string>ow_alerts_foot_sensor</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Goofy</string>
			<key>Key</key>
			<string>ow_foot_sensor_goofy</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
